In [32]:
import numpy as np
import pandas as pd
import os
import warnings
import random
from tensorflow.keras.utils import load_img
warnings.filterwarnings('ignore')

In [33]:
input_path = []
label = []

for categories in os.listdir("/content/PetImages"):
  for path in os.listdir("/content/PetImages/"+categories):
    if categories == 'Cat':
      label.append(0)
    else:
      label.append(1)
    input_path.append(os.path.join("/content/PetImages", categories, path))

In [34]:
df = pd.DataFrame()
df['Photos'] = input_path
df['label'] = label
df = df.sample(frac=1).reset_index(drop=True)
df['label'] = df['label'].astype('str')
df.head

<bound method NDFrame.head of                                  Photos label
0       /content/PetImages/Cat/9613.jpg     0
1       /content/PetImages/Dog/2751.jpg     1
2        /content/PetImages/Cat/999.jpg     0
3       /content/PetImages/Cat/8387.jpg     0
4       /content/PetImages/Cat/3270.jpg     0
...                                 ...   ...
24997  /content/PetImages/Dog/10632.jpg     1
24998   /content/PetImages/Cat/5485.jpg     0
24999   /content/PetImages/Cat/7735.jpg     0
25000   /content/PetImages/Cat/3810.jpg     0
25001    /content/PetImages/Cat/238.jpg     0

[25002 rows x 2 columns]>

In [45]:
import PIL
a = []
for image in df['Photos']:
  try:
    img = PIL.Image.open(image)
  except:
    a.append(image)

a

[]

In [46]:
df = df[df['Photos']!= '/content/PetImages/Dog/Thumbs.db']
df = df[df['Photos']!= '/content/PetImages/Dog/11702.jpg']
df = df[df['Photos']!= '/content/PetImages/Cat/666.jpg']
df = df[df['Photos']!= '/content/PetImages/Cat/Thumbs.db']

In [47]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, random_state=42)

In [48]:
train.head()

                                Photos label
23290  /content/PetImages/Dog/1375.jpg     1
17785  /content/PetImages/Dog/2392.jpg     1
1021    /content/PetImages/Cat/683.jpg     0
12647   /content/PetImages/Cat/100.jpg     0
1534   /content/PetImages/Cat/8130.jpg     0

In [49]:
from keras.preprocessing.image import ImageDataGenerator
train_generator = ImageDataGenerator(
    rescale = 1./255,
    rotation_range = 40,
    shear_range = 0.2,
    zoom_range = 0.2,
    horizontal_flip = True,
    fill_mode = 'nearest'
)

val_generator = ImageDataGenerator(rescale = 1./255)

train_iterator = train_generator.flow_from_dataframe(
    train,
    x_col='Photos',
    y_col="label",
    target_size=(128,128),
    batch_size=512,
    class_mode='binary'
    )

val_iterator = val_generator.flow_from_dataframe(
    test,
    x_col='Photos',
    y_col="label",
    target_size=(128,128),
    batch_size=512,
    class_mode='binary'
    )

Found 19998 validated image filenames belonging to 2 classes.
Found 5000 validated image filenames belonging to 2 classes.

In [53]:
from keras import Sequential
from keras.layers.convolutional import Conv2D
from keras.layers import MaxPool2D, Flatten, Dense

model = Sequential([
    Conv2D(16, (3,3), activation='relu', input_shape=(128,128,3)),
    MaxPool2D((2,2)),
    Conv2D(32, (3,3), activation='relu'),
    MaxPool2D((2,2)),
    Conv2D(64, (3,3), activation='relu'),
    MaxPool2D((2,2)),

    Flatten(),
    Dense(512, activation='relu'),
    Dense(1, activation='sigmoid'),

])

In [54]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [55]:
history = model.fit(train_iterator, epochs=10, validation_data=val_iterator)

Epoch 1/10
40/40 [==============================] - 297s 7s/step - loss: 0.6976 - accuracy: 0.5465 - val_loss: 0.6388 - val_accuracy: 0.6434
Epoch 2/10
40/40 [==============================] - 295s 7s/step - loss: 0.6170 - accuracy: 0.6626 - val_loss: 0.5733 - val_accuracy: 0.7006
Epoch 3/10
40/40 [==============================] - 289s 7s/step - loss: 0.5921 - accuracy: 0.6878 - val_loss: 0.5543 - val_accuracy: 0.7104
Epoch 4/10
40/40 [==============================] - 302s 8s/step - loss: 0.5636 - accuracy: 0.7066 - val_loss: 0.5276 - val_accuracy: 0.7348
Epoch 5/10
40/40 [==============================] - 294s 7s/step - loss: 0.5382 - accuracy: 0.7289 - val_loss: 0.5344 - val_accuracy: 0.7286
Epoch 6/10
40/40 [==============================] - 319s 8s/step - loss: 0.5093 - accuracy: 0.7471 - val_loss: 0.4672 - val_accuracy: 0.7668
Epoch 7/10
40/40 [==============================] - 295s 7s/step - loss: 0.5139 - accuracy: 0.7508 - val_loss: 0.4749 - val_accuracy: 0.7684
Epoch 8/10
40/40 [==============================] - 302s 7s/step - loss: 0.4937 - accuracy: 0.7600 - val_loss: 0.4605 - val_accuracy: 0.7818
Epoch 9/10
40/40 [==============================] - 295s 7s/step - loss: 0.4787 - accuracy: 0.7722 - val_loss: 0.4454 - val_accuracy: 0.7846
Epoch 10/10
40/40 [==============================] - 299s 7s/step - loss: 0.4582 - accuracy: 0.7846 - val_loss: 0.4222 - val_accuracy: 0.8028

In [56]:
model.evaluate(train_iterator)

40/40 [==============================] - 134s 3s/step - loss: 0.4426 - accuracy: 0.7918

[0.4426153898239136, 0.7917791604995728]